* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top, #071426, #020611);
    color: #e7e9ee;
}

/* HEADER */


    /* Contenedor padre debe ser relativo */
.header-container {
    position: relative;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-login {
    
    background-color: #0d1b2a; 
    color: #ffffff;
    border: 1px solid #00b4d8; 
    
    /* Forma y espaciado */
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
    /* Transición para el efecto hover */
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #00b4d8; /* El azul brillante de tus botones de la izquierda */
    color: #000;
    box-shadow: 0 0 10px rgba(0, 180, 216, 0.5);
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid #1f2937;
}

.logo h1 {
    font-size: 28px;
}

.logo span {
    color: #22c1ff;
}

.logo p {
    font-size: 13px;
    color: #9ca3af;
}

.top-info span {
    margin-left: 15px;
    font-size: 14px;
}

/* STATUS */
.online-dot {
    color: #22c55e;
}

/* BUTTONS */
.actions {
    padding: 20px 40px;
}

.btn {
    padding: 10px 16px;
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.blue { background: #2563eb; }
.green-bg { background: #16a34a; }
.dark { background: #1f2937; }

/* SEARCH */
.search-bar {
    display: flex;
    gap: 10px;
    padding: 0 40px 20px;
}

.search-bar input, .search-bar select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #0f172a;
    color: white;
}

/* TABLE */
.table-container {
    padding: 0 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #020617;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: #020617;
    color: #60a5fa;
}

th, td {
    padding: 15px;
    text-align: left;
}

tbody tr {
    border-top: 1px solid #1f2937;
}

tbody tr:hover {
    background: #0f172a;
}

/* STATUS COLORS */
.green { color: #22c55e; }
.yellow { color: #facc15; }
.red { color: #ef4444; }

/* ACTION BUTTONS */
.actions-cell .icon {
    background: #1f2937;
    border: none;
    padding: 6px 10px;
    margin-right: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.play { background: #16a34a; }
.stop { background: #dc2626; }
.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

/* LEGEND */
.legend {
    margin: 30px 40px;
    padding: 20px;
    border: 1px solid #1f2937;
    border-radius: 10px;
    background: #020617;
}

.legend p {
    margin-bottom: 10px;
}
